Repository bellshade/zig, pull requests merged in 2023-12, with the labels that each got.

#6 feat: penambahan materi baru "format pemanggilan variabel"
  Basic/05_format_panggilan_variabel/README.md
  Basic/05_format_panggilan_variabel/formatVariabel.zig
Labels: ready-to-merge, markdown files, zig files, request tim zig untuk review

#8 feat: menambahkan algoritma gcd
  .github/workflows/zig.yml
  build.zig
  math/gcd.zig
  runtest.cmd
  runtest.sh
Labels: ready-to-merge, zig files, request tim zig untuk review

#7 feat: menambahkan materi baru
  Basic/06_operator_pada_pemrograman_zig/README.md
  Basic/06_operator_pada_pemrograman_zig/operatorAritmatika.zig
  Basic/06_operator_pada_pemrograman_zig/operatorBitwise.zig
  Basic/06_operator_pada_pemrograman_zig/operatorSaturate.zig
  Basic/06_operator_pada_pemrograman_zig/operatorVariabel.zig
  Basic/06_operator_pada_pemrograman_zig/operatorWrapping.zig
  Basic/07_logika_pada_pemrograman_zig/README.md
  Basic/07_logika_pada_pemrograman_zig/exampleLogicZigZag.zig
  Basic/07_logika_pada_pemrograman_zig/logikaZig.zig
  README.md
Labels: ready-to-merge, markdown files, zig files, request tim zig untuk review

#9 feat: menambahkan algoritma faktorial
  .github/workflows/zig.yml
  CONTRIBUTING.md
  README.md
  build.zig
  math/faktorial.zig
  runtest.sh
Labels: ready-to-merge, markdown files, zig files, request tim zig untuk review

#10 feat: menambahkan algoritma bubble sorting
  algorithm/sorting/bubbleSort.zig
  build.zig
  runtest.sh
Labels: ready-to-merge, zig files, request tim zig untuk review

#11 feat: menambahkan contoh math ceil pada zig
  build.zig
  math/ceil.zig
  runtest.sh
Labels: ready-to-merge, zig files, request tim zig untuk review

#12 docs: menambahkan materi ke README
  README.md
Labels: ready-to-merge, markdown files

#13 feat: menambahkan sorting merge sorting
  .github/CODEOWNERS
  .github/workflows/zig.yml
  algorithm/sorting/mergeSort.zig
  build.zig
  runtest.sh
Labels: ready-to-merge, zig files, request tim zig untuk review

#14 feat: menambahkan materi switch dan array
  .gitignore
  Basic/07_logika_pada_pemrograman_zig/README.md
  Basic/07_logika_pada_pemrograman_zig/logikaZig.zig
  Basic/08_switch/README.md
  Basic/08_switch/pemilihanZig.zig
  Basic/08_switch/test_pemilihanZig.zig
  Basic/09_array/README.md
  Basic/09_array/arrayZig.zig
Labels: ready-to-merge, markdown files, zig files, request tim zig untuk review
